<section class="table-responsive">
<table class=" table table-bordered table-striped table-dark">
    <thead class="table-active">
        <tr>
            <th scope="col">Nome:</th>
            <th scope="col">Ano:</th>
            
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let carro of lista; let i = index;">
            <tr *ngIf="!editMode[i]">
            <td  *ngIf="!editMode[i]">
                {{carro.nome}}
            </td>
            <td  *ngIf="!editMode[i]">
                {{carro.ano}}
            </td>
            <td>
                <button (click)="editarItem(i)" class="btn btn-warning" type="submit">Editar</button>
            </td>
        </tr>
        
        <tr *ngIf="editMode[i]">
            <td><input [(ngModel)]="carroEmEdicao.nome" placeholder="Nome"></td>
            <td><input [(ngModel)]="carroEmEdicao.ano" placeholder="Ano"></td>
            <td>
              <button (click)="salvarEdicao(i)" class="btn btn-success">Salvar</button>
              <button (click)="cancelarEdicao(i)" class="btn btn-danger">Cancelar</button>
            </td>
          </tr>
        </ng-container>
    </tbody>
    <button (click)="abriModal(abrir)" type="submit" class="btn btn-dark btn-lg">Novo</button>
</table>
</section>
<ng-template #abrir let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Salvar ou Excluir</h4>
        <button type="button" class="btn-close" aria-label="Close"(click)="modal.dismiss('Cross click')">

        </button>
    </div>
    <div class="modal-body">
        <app-carrosdetails (retorno)="addNaLista($event)"></app-carrosdetails>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light"(click)="modal.close('Close click')">Fechar</button>
    </div>
</ng-template>
