<section class="table-responsive">
<table class="table table-dark table-striped table-bordered">
    <thead class="table-active">
        <tr>
            <th class="titulo" scope="col">Titulo:</th>
            <th class="autor" sorted="col">Autor:</th>
            <th class="d-flex Pesquisar">
                <button class="btn btn-success" (click)="abriModal(abrir)" type="submit">Novo</button>
                <input type="text" placeholder="Pesquisar">
            </th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let livro of lista;">
            <td>
                {{livro.titulo}}
            </td>
            <td>
                {{livro.autor}}
            </td>
            <td>
                <button class="btn btn-warning" type="submit">Editar</button>
            </td>
        </tr>
    </tbody>
</table>
</section>

<ng-template #abrir let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Salvar ou Excluir</h4>
        <button type="button" class="btn-close" aria-label="Close"(click)="modal.dismiss('Cross click')">

        </button>
    </div>
    <div class="modal-body">
        <app-livrosdetails (retorno)="addNaLista($event)"></app-livrosdetails>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light"(click)="modal.close('Close click')">Fechar</button>
    </div>
</ng-template>

